<div class="p-4 max-w-xl mx-auto mb-10 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">

    <form [formGroup]="recruterForm" (ngSubmit)="submitForm()">
        <div class="space-y-12">
            <div class="border-b border-gray-900/10 pb-12">
                <h2 class="text-base font-semibold leading-7 text-gray-900">recruter</h2>
                <p class="mt-1 text-sm leading-6 text-gray-600">This information will be displayed publicly so be
                    careful
                    what you share.</p>

                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    <div class="sm:col-span-3">
                        <label for="login" class="block text-sm font-medium leading-6 text-gray-900">email
                            professionel</label>
                        <div class="mt-2">
                            <input formControlName="login" type="email" name="login" id="login"
                                autocomplete="given-name"
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            <div class="text-red-600"
                                *ngIf="recruterForm.get('login')?.invalid && (recruterForm.get('login')?.touched ||recruterForm.get('login')?.dirty)">
                                <div *ngIf="recruterForm.get('login')?.getError('required')">this field is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sm:col-span-3">
                        <label for="phone" class="block text-sm font-medium leading-6 text-gray-900">Phone</label>
                        <div class="mt-2">
                            <input formControlName="phone" type="number" name="phone" id="phone" autocomplete="phone"
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            <div class="text-red-600"
                                *ngIf="recruterForm.get('phone')?.invalid && (recruterForm.get('phone')?.touched ||recruterForm.get('phone')?.dirty)">
                                <div *ngIf="recruterForm.get('phone')?.getError('phone')">this field is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sm:col-span-3">
                        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email
                            address</label>
                        <div class="mt-2">
                            <input formControlName="email" id="email" name="email" type="email" autocomplete="email"
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            <div class="text-red-600"
                                *ngIf="recruterForm.get('email')?.invalid && (recruterForm.get('email')?.touched ||recruterForm.get('email')?.dirty)">
                                <div *ngIf="recruterForm.get('email')?.getError('email')">this field is required
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-span-3">
                        <label for="password" class="block text-sm font-medium leading-6 text-gray-900">password</label>
                        <div class="mt-2">
                            <input formControlName="password" type="text" name="password" id="password"
                                autocomplete="password"
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            <div class="text-red-600"
                                *ngIf="recruterForm.get('password')?.invalid && (recruterForm.get('password')?.touched ||recruterForm.get('password')?.dirty)">
                                <div *ngIf="recruterForm.get('password')?.getError('required')">this field is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sm:col-span-full">
                        <label for="Label" class="block text-sm font-medium leading-6 text-gray-900">Label</label>
                        <div class="mt-2">
                            <input type="text" name="Label" id="Label" autocomplete="address-level2"
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                        <div class="text-red-600"
                            *ngIf="recruterForm.get('label')?.invalid && (recruterForm.get('label')?.touched ||recruterForm.get('label')?.dirty)">
                            <div *ngIf="recruterForm.get('label')?.getError('required')">this field is required
                            </div>
                        </div>

                    </div>




                </div>
            </div>

            <div class="border-b border-gray-900/10 pb-12">
                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    <div class="col-span-full">
                        <label for="cover-photo" class="block text-sm font-medium leading-6 text-gray-900">Cover
                            photo</label>
                        <div
                            class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
                            <div class="text-center">

                                <svg *ngIf="!imageUrl"  class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor"
                                    aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z"
                                        clip-rule="evenodd" />
                                </svg>
                                <img class="mx-auto h-20" [src]="imageUrl" *ngIf="imageUrl" />
                                <!-- <span>{{file.name || "No file uploaded yet."}}</span> -->
                                <div class="mt-4 flex text-sm leading-6 text-gray-600">
                                    <label for="file-upload"
                                        class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                                        <span>Upload a file</span>
                                        <input id="file-upload" (change)="fileUplaod($event)"
                                            name="file-upload" type="file" class="sr-only">
                                    </label>
                                    <p class="pl-1">or drag and drop</p>
                                </div>
                                <p class="text-xs leading-5 text-gray-600">PNG, JPG, GIF up to 10MB</p>
                            </div>
                        </div>
                        <div class="text-red-600"
                            *ngIf="recruterForm.get('image')?.invalid && (recruterForm.get('image')?.touched ||recruterForm.get('image')?.dirty)">
                            <div *ngIf="recruterForm.get('image')?.getError('required')">this field is required
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-6 flex items-center justify-end gap-x-6">
            <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
            <input type="submit"
                class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                value="submit" [disabled]="recruterForm.invalid" />
        </div>
    </form>
</div>